body {
    background-image: url(../images/PWTbg.png);
    background-attachment: fixed;
    color: darkgoldenrod;
}



.logo {
    height: 200px;
    width: 200px;
    margin: 0;

}

h1 {
   margin: 0 0 20px 0;
}

table {
    text-align: center;
    
}
